<!DOCTYPE html>
<html>
  <head>
    <title>SkateTrax</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
  <div [ngStyle]="{backgroundImage:'url(assets/images/skates.jpg), background-repeat: no-repeat, background-size: cover, background-position: center center, background-color: #000000, resize: both'}">
    
  <!-- Mask & flexbox options-->
  <div class="mask rgba-gradient align-items-center view">

    <div class="container view ">
      <div class="row view">

        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto view">
          <div class="card card-signin my-5">
            <div class="card-body no-wrap">
              <h1 class="card-title text-center">Welcome to SkateTrax!</h1>
            </div>
            <div class="card-body text-center">Click <a href="/login">here</a> to go login!</div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
  </body>
</html>